.tinylog-container {
	z-index: 10000;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 15%;
	font-family: sans-serif;
	color: black;
	background-color: white;
}

.tinylog-output {
	position: relative;
	font-family: monospace;
	overflow: auto;
	height: 100%;
  padding-top: 4px;
}

.tinylog-entry {
	border-bottom: 1px solid #d3d3d3;
  min-height: 16px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.tinylog-entry-text {
	white-space: pre-wrap;
	font-size: 12px;
	margin-left: 8px;
	margin-right: 8px;
	max-width: 100%;
	overflow: auto;
}

.tinylog-resizer {
	height: 5px;
	margin-top: -5px;
	cursor: n-resize;
	background-color: darkgrey;
}

.tinylog-buttons-container {
	position: absolute;
	opacity: .35;
	top: 2px;
	right: 16px;
}

.tinylog-buttons-container:hover {
	opacity: 1;
}

.tinylog-button {
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
  color: #fff;
	text-align: center;
	padding: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 10px;
  width: 12px;
  height: 12px;
}

.tinylog-button:hover {
	color: #fff;
}

.tinylog-button:before {
	content: attr(data-symbol);
}

.tinylog-button:not(:first-child) {
  margin-left: 3px;
}

.tinylog-close-button {
  border: 1px solid #ddd;
  background-color: #ddd;
}

.tinylog-close-button:hover {
  border: 1px solid #999;
}

/*.tinylog-save-button-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}*/

.tinylog-save-button:before {
	color: white;
}

.tinylog-save-button {
	position: relative;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.tinylog-save-button:hover {
  border: 1px solid #999;
}
